:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px 0;
  font-family: "Old Standard TT", serif;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.nav-item {
  font-family: "Shadows Into Light";
}
.navbar-brand {
  font-family: "Shadows Into Light";
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.about-me p {
  text-align: justify;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.social-links a {
  color: var(--primary-color);
  margin: 0 10px 20px 10px;
  font-size: 20px;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  color: white;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  h3 {
    font-size: 18px;
  }
  p {
    text-align: center;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
